html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0; /*Bez tego był problem z dopasowaniem rozmiaru body do okna*/
    background-color: #C85503;
    color: #003A87;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #FAA61D;
    color: #2f4eb5;
    width: 100%;
    font-weight: 900;
    font-size: 16px;
}

#title {
    text-align: center;
    background-color: #D5720C;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    color: #003A87;
    border-radius: 15px;
    font-weight: 900;
    font-size: 30px;
}

#game {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #D5720C;
    padding: 20px;
    border-radius: 15px;
}

#buttons button {
    width: 150px;
    height: 145px;
    padding: 0;
    border: none;
    background-color: #D5720C; /*To jest trochę oszukane, dałem kolor buttona taki sam jak kolor tła, bo nie chciał się stylizować*/
    border-radius: 15px;
}

#buttons button img:hover {
    transform: scale(1.1);
}

#buttons button img{
    width: 100%;
    height: 100%;
    background-color: #72CBDB;
    border-radius: 35px;
    transition: transform .3s;
}

#score-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */
    justify-content: center;
    /* width: 100%; */
    background-color: #ffc36a;
    border: solid 5px #003A87;
    border-radius: 15px;
    padding: 10px;
    font-weight: 400;
    font-size: 28px;
}

#score {
    display: flex;
}

#alert {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #bd4d1d;
    color: #000368;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
}