html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0; /*Bez tego był problem z dopasowaniem rozmiaru body do okna*/
    background-color: #C85503;
    color: #003A87;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #FAA61D;
    color: #2F91B5;
}

#title {
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #D5720C;
}

#score-box {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    /* width: 100%; */
    background-color: #8A2702;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #A03304;
    color: #000368;
}